/*Phones in portrait*/
body {
    margin: 0;
    background: #E7E9ED;
}

#pennBackdrop {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
    font-size: 17px;
    margin: auto;
}

main {
    width: 100%;
    /*height: 100%;*/
}

#logincontainer, #logoutcontainer, #errorcontainer {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    max-width: 500px;
    text-align: left;
    width: 100%;
    background: #fff;
}

#logoutcontainer {
    padding-bottom: 20px;
}

.logouttext #header {
    margin-top: 15px;
}

#loginbanner {
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #011f5b;
    /*border-radius: 15px 15px 0 0;*/
}

img {
    max-width: 100%;
    height: auto;
    padding: 12px 0px 6px;
    
}

#header {
    text-align: center;
    font-size: 17px;
}

.loginError {
    color: red;
    text-align: center;
}

#content {
    padding: 0 15px 15px 15px;
}

.warning {
    color: #95001A;
}

#login {
    padding: 5px 15px;
}

#login-subprompt {
    margin-top: 15px;
}

#otherService {
    display: none;
    text-align: center;
}

#otherServiceBox {
    margin: auto;
    padding: 10px;
    border: 1px solid #d5d5cf;
    font-size: 16px;
    background: #F8F8F8;
    text-align: center;
}

#otherServiceBox label {
    top: 0px;
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.button {
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    margin: auto;
    display: block;
    cursor: pointer;
    background-color: #011f5b;
}

button:focus {
    outline: 3px solid #0059ff;
}

#linksContainer {
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
}
.helpButton {
    padding: 0px 5px;
}

input {
    width: 100%;
    font-size: 17px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    position: relative;
    outline: none;
}

input:read-only {
    color: #767676;
}

label {
    position: relative;
}

input:valid + label, input:read-only + label, input:invalid + label {
    top: -52px;
    background: white;
    padding: 0px 6px;
    color: #011f5b;
    outline: 1px solid #ccc;
    font-size: 12px;
    left: 10px;
}

input:invalid {
    outline: 1px solid #f00;
}

input:placeholder-shown {
    outline: unset;
}

input:focus {
    outline: 1px solid #000;
}    

input:placeholder-shown + label {
    top: -28px; 
    left: 10px;
    color: #767676;
    padding: 0px 6px;
    background: transparent;
    outline: unset;
    font-size: unset;
    -webkit-transition: 0.2s linear; 
    -moz-transition: 0.2s linear; 
    transition: 0.2s linear;
}

input:focus + label {
    top: -52px;
    background: white;
    color: #011f5b;
    outline: 1px solid #ccc;
    font-size: 12px;
    left: 10px;
}

input:read-only + label {
    color: #95001A;
}

input[type=checkbox] {
    margin: 0 .1em 0 .5em;
    border-radius: unset;
    box-sizing: unset;
    width: unset;
    border: unset;
    box-shadow: unset;
}

input[type=checkbox] + label, input[type=hidden] + label {
    color: unset;
    outline: unset;
    font-size: 14px;
    left: unset;
    padding: 0;
    top: unset;
    background: unset;
}

#linksContainer a:visited {
    color: #0066CC;
}

#linksContainer a {
    color: #0066CC;
    text-decoration: none;
}

#linksContainer a:hover {
    text-decoration: underline;
}

/* Anything wider */
@media screen and (min-width:700px) and (min-height: 500px) {
    /* #pennBackdrop {
        background: url('../images/PennFisherLibrary.jpg') no-repeat center center fixed;
        position: absolute;
        z-index: -1;
        background-size: cover;
        filter: blur(4px);
        opacity: 0.9;
    } */

    .center {
        font-size: 15px;
        padding: 0px 5px;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #logincontainer, #logoutcontainer {
        box-shadow: 0 0 10px 0px #888;
        max-width: 470px;
        background: rgb(255,255,255);
        border-radius: 10px;
    }

    #errorcontainer {
        box-shadow: 0 0 10px 0px #888;
        max-width: 800px;
        background: rgb(255,255,255);
        border-radius: 10px;
    }


    #loginbanner {
        margin: auto;
        border-radius: 10px 10px 0 0;
    }

    #header {
        font-size: 20px;
        margin: 0;
    }

    label {
         top: -28px;
    }

    input:focus + label {
        /*box-shadow: 0px 0px 4px 2px #51cbeebf;*/
        top: -52px;
        background: #fff;
    }

    input:valid + label {
        /*box-shadow: 0px 0px 4px 2px #51cbeebf;*/
        top: -52px;
        background: #fff;
    }

    input[type=checkbox] + label {
        top: unset;
        background: unset;
    }

    .button {
        font-size: 17px;
    }

    .call-txt {
        font-size: 16px;
    }

    #linksContainer {
        font-size: 14px;
    }

    input {
        font-size: 16px;
    }
}

/* styles for built-in error pages */
.container {
    position: relative;
    left: 34%;
    width: 540px;
    margin-left:-270px
}

.wrapper {
    color: #717171;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background: #fff;
}

.wrapper img {
    width: 50%;
}

header {
    padding: 20px 0;
}

.content {
    padding-bottom: 80px;
    overflow: hidden;
    margin: 0
}

footer {
    color: #5f5f5f;
    font-size: 11px;
    background-color: #E7E9ED;
}

.container-footer {
    padding-top: 12px;
}

.footer-text {
    margin: 0 12px 0 0;
}
/*Phones in portrait*/
body {
    margin: 0;
    background: #E7E9ED;
}

#pennBackdrop {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
    font-size: 17px;
    margin: auto;
}

main {
    width: 100%;
    /*height: 100%;*/
}

#logincontainer, #logoutcontainer {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    max-width: 500px;
    text-align: left;
    width: 100%;
    background: #fff;
}

#logoutcontainer {
    padding-bottom: 20px;
}

.logouttext #header {
    margin-top: 15px;
}

#loginbanner {
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #011f5b;
    /*border-radius: 15px 15px 0 0;*/
}

img {
    max-width: 100%;
    height: auto;
    padding: 12px 0px 6px;
    
}

#header {
    text-align: center;
    font-size: 17px;
}

.loginError {
    color: red;
    text-align: center;
}

.warning {
    color: #95001A;
}

#login {
    padding: 5px 15px;
}

#login-subprompt {
    margin-top: 15px;
}

#otherService {
    display: none;
    text-align: center;
}

#otherServiceBox {
    margin: auto;
    padding: 10px;
    border: 1px solid #d5d5cf;
    font-size: 16px;
    background: #F8F8F8;
    text-align: center;
}

#otherServiceBox label {
    top: 0px;
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.button {
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    margin: auto;
    display: block;
    cursor: pointer;
    background-color: #011f5b;
}

button:focus {
    outline: 3px solid #0059ff;
}

#linksContainer {
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
}
.helpButton {
    padding: 0px 5px;
}

input {
    width: 100%;
    font-size: 17px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    position: relative;
    outline: none;
}

input:read-only {
    color: #767676;
}

label {
    position: relative;
}

input:valid + label, input:read-only + label, input:invalid + label {
    top: -52px;
    background: white;
    padding: 0px 6px;
    color: #011f5b;
    outline: 1px solid #ccc;
    font-size: 12px;
    left: 10px;
}

input:invalid {
    outline: 1px solid #f00;
}

input:placeholder-shown {
    outline: unset;
}

input:focus {
    outline: 1px solid #000;
}    

input:placeholder-shown + label {
    top: -28px; 
    left: 10px;
    color: #767676;
    padding: 0px 6px;
    background: transparent;
    outline: unset;
    font-size: unset;
    -webkit-transition: 0.2s linear; 
    -moz-transition: 0.2s linear; 
    transition: 0.2s linear;
}

input:focus + label {
    top: -52px;
    background: white;
    color: #011f5b;
    outline: 1px solid #ccc;
    font-size: 12px;
    left: 10px;
}

input:read-only + label {
    color: #95001A;
}

input[type=checkbox] {
    margin: 0 .1em 0 .5em;
    border-radius: unset;
    box-sizing: unset;
    width: unset;
    border: unset;
    box-shadow: unset;
}

input[type=checkbox] + label, input[type=hidden] + label {
    color: unset;
    outline: unset;
    font-size: 14px;
    left: unset;
    padding: 0;
    top: unset;
    background: unset;
}

#linksContainer a:visited {
    color: #0066CC;
}

#linksContainer a {
    color: #0066CC;
    text-decoration: none;
}

#linksContainer a:hover {
    text-decoration: underline;
}

/* Anything wider */
@media screen and (min-width:700px) and (min-height: 500px) {
    /* #pennBackdrop {
        background: url('../images/PennFisherLibrary.jpg') no-repeat center center fixed;
        position: absolute;
        z-index: -1;
        background-size: cover;
        filter: blur(4px);
        opacity: 0.9;
    } */

    .center {
        font-size: 15px;
        padding: 0px 5px;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #logincontainer, #logoutcontainer {
        box-shadow: 0 0 10px 0px #888;
        max-width: 470px;
        background: rgb(255,255,255);
        border-radius: 10px;
    }

    #loginbanner {
        margin: auto;
        border-radius: 10px 10px 0 0;
    }

    #header {
        font-size: 20px;
        margin: 0;
    }

    label {
         top: -28px;
    }

    input:focus + label {
        /*box-shadow: 0px 0px 4px 2px #51cbeebf;*/
        top: -52px;
        background: #fff;
    }

    input:valid + label {
        /*box-shadow: 0px 0px 4px 2px #51cbeebf;*/
        top: -52px;
        background: #fff;
    }

    input[type=checkbox] + label {
        top: unset;
        background: unset;
    }

    .button {
        font-size: 17px;
    }

    .call-txt {
        font-size: 16px;
    }

    #linksContainer {
        font-size: 14px;
    }

    input {
        font-size: 16px;
    }
}

/* styles for built-in error pages */
.container {
    position: relative;
    left: 34%;
    width: 540px;
    margin-left:-270px
}

.wrapper {
    color: #717171;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background: #fff;
}

.wrapper img {
    width: 50%;
}

header {
    padding: 20px 0;
}

.content {
    padding-bottom: 80px;
    overflow: hidden;
    margin: 0
}

footer {
    color: #5f5f5f;
    font-size: 11px;
    background-color: #E7E9ED;
}

.container-footer {
    padding-top: 12px;
}

.footer-text {
    margin: 0 12px 0 0;
}

