

/* CSS Document */

/***Navbar Background Color, Border Removed ,Border Radius Sqaure***/

.navbar.navbar-custom {
  background: #cedce8;
  border: none;
  border-radius: 0;
}

.bg-upenn {
    background-color: #cedce8 !important;
}

.nav-text-upenn {
    color: #000 !important;
}

.footer-font-upenn {
    color: #000 !important;
}

.righTopProfile-upenn {
    color: #ccc !important;
}

.bg-upenn-profileModalHeader {
    background-color: #cedce8 !important;
}
.bg-upenn-profileModalfooter {
    background-color: #ccc !important;
}


.navbar.navbar-custom .navbar-nav > li > a {
  color: white;
}
/***Link Color Hover Statr***/

.navbar.navbar-custom .navbar-nav > li > a:hover {
  color: #cccccc;
}
/***Link Background and Color Active State***/

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
  background: #DBF022;
  color: #66ccff;
}
/***Navbar Brand Link Color***/

.navbar.navbar-custom .navbar-brand {
  color: #f00;
}
/***Navbar Brand Link Color Hover State***/

.navbar.navbar-custom .navbar-brand:hover {
  color: #ff0;
}
/***Dropdown Background Active State***/

.navbar.navbar-custom .nav li.dropdown.open > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.active > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.open.active > .dropdown-toggle {
  background: #DBF022;
  color: #f00;
}
/***Dropdown-menu Background Color***/

.navbar.navbar-custom .dropdown-menu {
  background: #011F5B;
  border: none;
}
/***Dropdown-menu Color***/

.navbar.navbar-custom .dropdown-menu > li > a {
  color: #ffffff;
}
/***Dropdown-menu Color Hover and Focus State***/

.navbar.navbar-custom .dropdown-menu > li > a:hover,
.navbar.navbar-custom .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: #6e0027;
}
/***Toggle Button***/

.navbar.navbar-custom .navbar-header .navbar-toggle {
  border-color: #f00;
}
/***Toggle Button Hover and Focus State***/

.navbar.navbar-custom .navbar-header .navbar-toggle:hover,
.navbar.navbar-custom .navbar-header .navbar-toggle:focus {
  background: #f00;
  border: #f00;
}
/***Collapse Borders***/

.navbar.navbar-custom .navbar-collapse {
  border: none;
}
@media (max-width: 767px) {
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a {
    color: #f00;
  }
  /***Dropdown-menu Color Hover and Focus State***/
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:hover,
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:focus {
    color: #ff0;
    background: #f00;
  }
}


.card-header {
	background-color: #0c4f9a ;
	color: white ;
	font-weight: bold;
    cursor: move;
}
.banner {
	background-color: #ffffff;
}
/*nav .navbar-nav li a {
	color: white !important;
}*/
.bg-purple {
  background-color: #911E21;
}

.bg-blue {
  background-color: #011F5B;
}

.footer-color{
	background-color: #cedce8;
}

